html
{
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: #242424;
    color: #dcdcdc;
    margin: 0.25em;
    padding: 0.25em;
}

h1
{
    background-color: #424242;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 1px;
    margin: 0.25em;
    padding: 0.25em;
}