<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="css/default.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li href="/">Home</li>
                <li>Blog</li>
            </ul>
        </nav>
        {{ content }}
        <footer>
            <ul>
                <li href="mailto:c.w.chambers@gmail.com">email</li>
            </ul>
        </footer>
    </body>
</html>